@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <p>Choose a country to visit:</p>
    <select id="country"></select>
</div>

<div class="row">
    <p>What city will you visit?</p>
    <select id="city"></select>


</div><div class="row">
    <p>Select a hotel:</p>
    <select id="hotel"></select>
</div>





    